{{#each colors}}
    <h3>{{name}}</h3>
    {{#each testing}}
        <div style="background-color: {{this}}; width: 100px; height: 100px; border-radius: 25px; margin: 10px;">
            <p style="color: white; text-align: center;">{{this}}</p>
        </div>
    {{/each}}
{{/each}}


{{#each colors}}
    <h3>{{name}}</h3>
    {{#each testing}}
        <p style="color: {{this}};">{{this}}</p>
    {{/each}}
{{/each}}